---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const films = await getCollection('films');
  return films.map(film => ({
    params: { slug: film.id },
    props: { film: film.data[0] },
  }));
}

const { film } = Astro.props;
// console.log(film)
---

<h1>{film.title}</h1>
