---
import Layout from '../layouts/Layout.astro';

const username = import.meta.env.USERNAME;
---

<Layout title="👀: myalltimefaves" bgColor="bg-black">
	<main>
    <h1 class="font-bold text-white">all-time faves</h1>
    <h1 class="text-white">find me @ <a href=`https://letterboxd.com/${username}` class="underline">letterboxd</a></h1>
	</main>
</Layout>
